<% include ./partials/header.ejs %>
<center>
<form action="/meme">
<button class="ui red button" type="submit">
      Random Memes
</button>
</form>
<div class="ui segment meme">
  <!-- <img class="meme" src = " url " style="width:100%"> -->
</div>
</center>


<div class="ui segment" style="height:184px;width:180px;">
  <div class="ui move down reveal">
    <div class="visible content">
        <img src="images/dinesh.jpg"  class="ui small image">
      
    </div>
    <div class="hidden content" style="background-color: black;">
        <img src="/images/dinesh.jpg" style="position: relative;opacity: 0.5;" class="ui small image">
          <div style="position: absolute;top:40%; color:aliceblue;font-weight: 800;width:inherit;text-align: center;">
            Data Analysis on IPL
      </div>
    </div>
  </div>
</div>
</div>



<div class="ui card" style="width:300px;">
  <div class="image">
    <div class="ui move down reveal">
      <div class="visible content">
          <img src="images/dinesh.jpg"  class="ui medium image">
        
      </div>
      <div class="hidden content" style="background-color: black;">
          <img src="/images/dinesh.jpg" style="position: relative;opacity: 0.5;" class="ui medium image">
            <div style="position: absolute;top:40%; color:aliceblue;font-weight: 800;width:inherit;text-align: center;">
              Data Analysis on IPL
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <a class="header">Kristy</a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      Kristy is an art director living in New York.
    </div>
  </div>
</div>
<% include ./partials/header.ejs %>